

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        color: $gray;
        background: $white;
    }

    a,
    .filters button,
    .recipes-intro,
    .discover-intro,
    .recipes-card_body-title,
        .recipes-card_body-desc,
        .discover-card_body-desc,
        .discover-card_body-title{
        color: $gray;
    }

    .gallery-card_body-title {
        color: $canard;
    }

    body.dark-theme {
        color: $white;
        background: $darkmode;

        header,
        .gallery-title-filters,
        .discover-title-filters,
        .recipes-title-filters {
            background: $darkmode;
        }
    
        .main-navigation ul,
        a,
        a:visited,
        .icon,
        .filters button,
        .recipes-intro,
        .discover-intro,
        .recipes-card_body-title,
        .recipes-card_body-desc,
        .discover-card_body-desc,
        .discover-card_body-title,
        .gallery-card_body-title {
            color: $white;
        }
    }
  }
  