.gallery {

    .element-item {
        position: relative;
        transition: all ease-in-out 0.2s;
        text-decoration: none;
    }

    &-title-filters {
        background: $white;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: sticky;
        top: 0;
        z-index: 2;
        padding: 0.5rem 0;
    }


    &-title {
        display: inline;
        color: $canard;
    }

    &-card_image {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 1;
        transition: all ease-in-out 0.2s;

    }

    .gallery-card_body {
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: all ease-in-out 0.2s;
        padding: 1rem 1rem 1rem;


        &-title {
            padding-right: 2rem;
            font-size: 2rem;
            color: $canard;
        }
    }
  
   
    .icon {
        position: absolute;
        bottom: 1.5rem;
        right: 4rem;
        opacity: 0;
        transition: all ease-in-out 0.2s;
        color: $canard;
    }

    // Hover 
    .element-item:hover .gallery-card_body {
        opacity: 1;
    }

    .element-item:hover .gallery-card_image {
        opacity: 0.3;
    }

    .element-item:hover .icon {
        opacity: 1;
        right: 2rem;
    }
}