.header {
    position: fixed;
    width: 25%;
    padding: 8rem 4.25rem;
    z-index: 10;
    background: $white;

    .logo {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0 auto 2.5rem;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main-navigation ul{
        display: block;
        line-height: 2.5rem;
        font-size: 1.25rem;
        font-family: $source;
        font-weight: 300;
        color: $gray;

        li {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        li,
        a {
            float: left;
            clear: both;
            display: inline;
        }
    
        li a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 1px;
            background-color: $canard;
            transform: translate(-50%, 0%);
            opacity: 0;
            transition: 0.1s all linear;
        }
    
        li:hover {
            a {
                color: $canard;
            }
    
            a:after {
                bottom: 5px;
                opacity: 1;
            }
        }
    
        li a:visited {
            color: $gray;
        }
    }

    a:visited {
        color: $gray;
    }

    .reseaux {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        a {
            margin: 0.5rem;
        }

        .icon {
            font-size: 1.5rem;
            color: $canard;
        }
    }

}