@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//body
.site {
    display: flex;
}

// Page
main {
    width: 100%;
    padding: 2rem 2rem 2rem 0;
    padding-left: 27%;
}

// Filters 
.filters {
    display: inline;
    width: auto;
    font-size: 1.5rem;

    button {
        font-family: $playfair;
        color: $gray;
        background: none;
        appearance: none;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border: 1px solid transparent;
    }

    .all.is-checked {
        border: 1px solid $terre;
    }
    .sweet.is-checked {
        border: 1px solid $framboise;
    }
    .salty.is-checked {
        border: 1px solid $canard;
    }
    .others.is-checked {
        border: 1px solid $kaki-light;
    }
}

// Headings

h1,h2,h3 {
    font-family: $playfair;
}

h1 {
    display: inline;
    font-size: 66px;
    margin: 0;
}

h2 {
    font-size: 48px;
}

// Text 
p {
    color: $gray;
}

// Buttons

.btn {
    padding: 1rem;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    color: $beige;
    font-size: 1.25rem;
    font-family: $source;
    width: 100%;
    
    &-kaki {
        background-color: $kaki;
    }
}

.btn:visited {
    color: $beige;
}


