.recipes {

    .element-item {
        transition: all ease-in-out 0.2s;
        text-decoration: none;
    }

    &-title-filters {
        background: $white;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: sticky;
        top: 0;
        z-index: 2;
        padding: 0.5rem 0;
    }

    &-intro {
        margin: 1rem 0 2rem;
        max-width: 65%;
    }

    &-title {
        display: inline;
        color: $terre;
    }

    &-card_image {
        position: relative;
        width: 100%;
        height: 13rem;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-card_body {
        position: relative;
        padding: 1.25rem 1.5rem;

        &-title {
            font-size: 1.5rem;
            color: $gray;
            text-transform: capitalize;
        }

        &-desc {
            padding-bottom: 1rem;
            font-size: 0.875rem;
            color: $gray;
        }
    }

    &-card--others {
        border: 1px solid $kaki-light;
        .icon {
            color: $kaki-light;
        }
    }

    &-card--sweet {
        border: 1px solid $framboise;

        .icon {
            color: $framboise;
        }
    }

    &-card--salty {
        border: 1px solid $terre;

        .icon {
            color: $terre;
        }
    }

    .icon {
        position: absolute;
        bottom: 1.25rem;
        right: 4rem;
        opacity: 0;
        transition: all ease-in-out 0.2s;
    }

    // Hover 
    .element-item:hover {
        transform: scale(1.1);
    }

    .element-item:hover .icon {
        opacity: 1;
        right: 1.5rem;
    }
}